@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);




#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #56b7b9;
}
#ext_menu-0 .mbr-navbar__section {
  background: #56b7b9;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-navbar__items a {
  font-size: 16px;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}
#header1-1 P {
  color: #56b7b9;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
}
#header1-1 H1 {
  color: #56b7b9;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
}
#content5-3 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3 .mbr-article {
  color: #fff;
}
#content5-3 .mbr-article P {
  text-align: left;
  font-family: 'Lato', sans-serif;
}
#features1-4 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#features1-4 P {
  color: #ffffff;
}
#msg-box5-5 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-5 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-5 .mbr-article {
  color: #ffffff;
}
#msg-box5-5 .mbr-article P {
  font-size: 18px;
}
#content1-23 DIV {
  font-size: 19px;
}
#msg-box4-6 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#contacts3-7 P {
  color: #ffffff;
}
