<h4 lt="belep">Belépés</h4>
<div lt="err" ></div>
<div lt="alert" ></div>
<div lt="info" ></div>

	<form   method="post" >
	<div class="form-group">			
					<input type="text" class="form-control"  placeholder="Username" name="username"  >
				
					<input type="password" class="form-control"  placeholder="Jelszó" name="password" >
	
		<button type="submit" name="" ltdat="belep" value="belep" class="btn btn-primary">Belépés</button>
	<button type="submit" name="" ltdat="reg" value="regform" class="btn btn-primary" >Regisztrálás</button>
	</div>			
<!-- <a="">Elfelejtett jelszó</a>-->
			
	</form>

