

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div data="div1">div1</div>
	<form id="form-1">
<label for="input-1" data="label"  class="" >Input:</label>
<input id="input1" placeholder="input1"data="input1" type="text"/>
<textarea name="comment" placeholder="placeholder" data="text1"></textarea>
<textarea name="comment" data="text2">alapszöveg</textarea>
<input type="checkbox" id="cbox1" name="age" value="checkbox1"data="check">

<input type="radio" name="age" id="age" value="radio1" data="radio1">
<input type="radio" name="age" id="age" value="radio2" data="radio2">

<input type="submit" value="Submit" name="button-1" lt='submit' id="button-1"/>
<input type="hidden" value="sss" id="hiden-1"/>	
	</form>

</body>
</html>